{% extends 'base.html' %}
{% block title %} Admin{% endblock title %}
{% block body %}

<div class="container">
    <style>
        .login-form {
            width: 340px;
            margin: 50px auto;
        }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }
    </style>

    <div class="login-form text-center ">
        {% if info|length != 0%}
        <div class="alert alert-danger d-flex align-items-center container" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                {{info}}
            </div>
        </div>
        {% endif %}
        <form action="/login" method="POST" >
            <img src="/static/brain.png" alt="bat" style="width: 5rem;">
            <h2 class="text-center">Log in</h2>
            <div class="form-group my-2">
                <input type="text" class="form-control" name="user" placeholder="Username" required="required">
            </div>
            <div class="form-group my-2">
                <input type="password" class="form-control" name="pwd" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
        </form>
        <p class="mt-5 mb-3 text-muted">&copy; 2020–2021</p>
    </div>

</div>


{% endblock body %}